html{
    background-color: grey;
}

body{
    border: whitesmoke 5px solid;
    background-color: whitesmoke;
}

nav{
    display: block;
    background-color: #B29999;
    padding: 15px 25px;
}
nav a:link{
    color: #333333;
    text-decoration: none;
}
nav a:visited{
    color: #333333;
}

.container{
    padding: 10px;
    margin: 2px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, auto);
    gap: 2px;
    justify-self: center;
    align-items: stretch;
    justify-items: stretch;
}

.logo{
    grid-column: 1/5;
    grid-row: 1/4;
}
.face{
    grid-column: 5/6;
    grid-row: 1/2;
}
.twit{
    grid-column: 5/6;
    grid-row: 2/3;
}
.anon{
    grid-column: 5/6;
    grid-row: 3/4;
}
.ominous{
    grid-column: 1/3;
    grid-row: 4/5;
}
.joker{
    grid-column: 3/4;
    grid-row: 4/5;
}
.clown{
    grid-column: 4/5;
    grid-row: 4/5;
}
.lazytown{
    grid-column: 5/6;
    grid-row: 4/5;
}
.radio{
    grid-column: 1/2;
    grid-row: 5/8;
}
.superhero{
    grid-column: 2/4;
    grid-row: 5/6;
}
.candy{
    grid-column: 4/5;
    grid-row: 5/6;
}
.pirate{
    grid-column: 5/6;
    grid-row: 5/6;
}
.prop{
    grid-column: 1/2;
    grid-row: 7/8;
    transform: translateY(45px);
}
.santa{
    grid-column: 2/3;
    grid-row: 6/8;
}
.roaring{
    grid-column: 3/5;
    grid-row: 6/7;
}
.shipping{
    grid-column: 5/6;
    grid-row: 6/7;
}
.charlieB{
    grid-column: 3/4;
    grid-row: 7/8;
}
.charlieBdos{
    grid-column: 4/5;
    grid-row: 7/8;
}
.ohmeohmy{
    grid-column: 5/6;
    grid-row: 7/8;
}
.mask{
    grid-column: 1/2;
    grid-row: 8/9;
}
.mardi{
    grid-column: 2/4;
    grid-row: 8/9;
}

footer{
    grid-column: 5;
    grid-row: 8;
    transform: translateY(90px);
}